@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 23% 17%;
    --foreground: 225.3 69% 87%;
    --card: 234 23% 17%;
    --card-foreground: 225.3 69% 87%;
    --popover: 234 23% 17%;
    --popover-foreground: 225.3 69% 87%;
    --primary: 223.5 66% 54%;
    --primary-foreground: 225.3, 69%, 87%;
    --secondary: 220.4 33% 33%;
    --secondary-foreground: 225.3 69% 87%;
    --muted: 220.4 33% 33%;
    --muted-foreground: 226.7 28% 25%;
    --accent: 220.4 33% 33%;
    --accent-foreground: 225.3 69% 87%;
    --destructive: 349.6 54% 50%;
    --destructive-foreground: 225.3, 69%, 87%;
    --border: 220.8 100% 75%;
    --input: 220.8 100% 75%;
    --ring: 225.3 69% 87%;
    --radius: 0rem;
    --chart-1: 355.7 100% 73%;
    --chart-2: 169.3 62% 57%;
    --chart-3: 206.1 100% 70%;
    --chart-4: 35.3 100% 73%;
    --chart-5: 17.1 100% 71%;
  }

  .dark {
    --background: 225.3 69% 87%;
    --foreground: 225.3, 69%, 87%;
    --card: 225.3 69% 87%;
    --card-foreground: 225.3, 69%, 87%;
    --popover: 225.3 69% 87%;
    --popover-foreground: 225.3, 69%, 87%;
    --primary: 225.3, 69%, 87%;
    --primary-foreground: 223.5 66% 54%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 225.3, 69%, 87%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 225.3, 69%, 87%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 225.3, 69%, 87%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
